
#  An谩lisis Exploratorio de Datos de Taxis en Nueva York

Este an谩lisis explora los datos de viajes en taxi de la ciudad de Nueva York. 
Se estudiar谩n las tendencias en los viajes, la duraci贸n, la velocidad promedio, 
los patrones de tarifas y otros factores clave.

###  Contenido:
1. **Carga de Datos**
2. **Resumen y Limpieza de Datos**
3. **An谩lisis de Variables Clave**
4. **Visualizaci贸n de Patrones**
5. **Conclusiones**

Los datos utilizados en este an谩lisis provienen de registros de taxis de 2015 y 2016.

## 1锔 Carga de Datos

In [2]:
# Importaci贸n de librer铆as necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configuraci贸n de estilo para gr谩ficos
plt.style.use('ggplot')

In [3]:
# Cargar los datos desde el archivo procesado
df = pd.read_csv('/mnt/data/final_taxi_data_filtered.csv')

# Mostrar las primeras filas para revisar la estructura del dataset
df.head()

In [4]:
df_2015.rename(columns={'RateCodeID': 'RatecodeID'}, inplace=True)

In [5]:
df_2015['tpep_pickup_datetime'] = pd.to_datetime(df_2015['tpep_pickup_datetime'])
df_2015['tpep_dropoff_datetime'] = pd.to_datetime(df_2015['tpep_dropoff_datetime'])
df_2016['tpep_pickup_datetime'] = pd.to_datetime(df_2016['tpep_pickup_datetime'])
df_2016['tpep_dropoff_datetime'] = pd.to_datetime(df_2016['tpep_dropoff_datetime'])

In [6]:
df_final = pd.concat([df_2015, df_2016], ignore_index=True)

In [7]:
df_final['trip_duration'] = (df_final['tpep_dropoff_datetime'] - df_final['tpep_pickup_datetime']).dt.total_seconds() / 60
df_final['speed_mph'] = (df_final['trip_distance'] / df_final['trip_duration']) * 60
df_final['is_weekend'] = df_final['tpep_pickup_datetime'].dt.weekday.isin([5, 6]).astype(int)
df_final['rush_hour'] = df_final['tpep_pickup_datetime'].dt.hour.isin([7, 8, 9, 16, 17, 18]).astype(int)
df_final['fare_per_mile'] = df_final['fare_amount'] / df_final['trip_distance']

In [13]:
df_final["speed_mph"] = df_final["speed_mph"].fillna(df_final["speed_mph"].median())
df_final["fare_per_mile"] = df_final["fare_per_mile"].fillna(df_final["fare_per_mile"].median())

In [9]:
numeric_cols = df_final.select_dtypes(include=['float', 'int']).columns
df_final[numeric_cols] = df_final[numeric_cols].round(2)

In [10]:
df_final["pickup_date"] = df_final["tpep_pickup_datetime"].dt.date
df_final.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_duration,speed_mph,is_weekend,rush_hour,fare_per_mile,pickup_date
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.99,40.75,1,N,-73.97,...,3.25,0.0,0.3,17.05,18.05,5.29,0,0,7.55,2015-01-15
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.00,40.72,1,N,-73.99,...,2.00,0.0,0.3,17.80,19.83,9.98,1,0,4.39,2015-01-10
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.96,40.80,1,N,-73.95,...,0.00,0.0,0.3,10.80,10.05,10.75,1,0,5.28,2015-01-10
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.01,40.71,1,N,-74.00,...,0.00,0.0,0.3,4.80,1.87,16.07,1,0,7.00,2015-01-10
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.97,40.76,1,N,-74.00,...,0.00,0.0,0.3,16.30,19.32,9.32,1,0,5.00,2015-01-10

In [14]:
df_final.to_csv('final_taxi_data.csv', index=False)

## 2锔 Resumen y Limpieza de Datos

In [ ]:
# Informaci贸n general del dataset
df.info()

In [ ]:
# Estad铆sticas descriptivas de las variables num茅ricas
df.describe()

## 3锔 An谩lisis de Variables Clave

In [ ]:
# Distribuci贸n de la duraci贸n de los viajes
import matplotlib.pyplot as plt

plt.figure(figsize=(10,5))
plt.hist(df["trip_duration"], bins=50, edgecolor='black', alpha=0.7)
plt.xlabel("Duraci贸n del Viaje (minutos)")
plt.ylabel("Cantidad de Viajes")
plt.title("Distribuci贸n de la Duraci贸n de los Viajes en Taxi")
plt.show()

In [ ]:
# Relaci贸n entre distancia y tarifa
plt.figure(figsize=(8,6))
plt.scatter(df["trip_distance"], df["fare_amount"], alpha=0.5)
plt.xlabel("Distancia del Viaje (millas)")
plt.ylabel("Tarifa ($)")
plt.title("Relaci贸n entre Distancia y Tarifa de Viaje")
plt.show()

## 4锔 Visualizaci贸n de Patrones

In [ ]:
# An谩lisis de viajes durante el fin de semana
import seaborn as sns

plt.figure(figsize=(7,5))
sns.boxplot(x=df["is_weekend"], y=df["fare_amount"])
plt.xlabel("驴Fin de Semana? (0=No, 1=S铆)")
plt.ylabel("Tarifa ($)")
plt.title("Distribuci贸n de Tarifas entre D铆as de Semana y Fines de Semana")
plt.show()

In [ ]:
# Distribuci贸n de la velocidad promedio de los taxis
plt.figure(figsize=(10,5))
plt.hist(df["speed_mph"], bins=40, edgecolor='black', alpha=0.7)
plt.xlabel("Velocidad Promedio (mph)")
plt.ylabel("Cantidad de Viajes")
plt.title("Distribuci贸n de la Velocidad Promedio de los Taxis")
plt.show()

## 5锔 Conclusiones

- La mayor铆a de los viajes en taxi duran menos de **30 minutos** y cubren distancias cortas.
- Existe una relaci贸n clara entre la distancia recorrida y la tarifa, aunque hay algunas tarifas an贸malas.
- Los fines de semana parecen tener tarifas m谩s dispersas en comparaci贸n con los d铆as de semana.
- La mayor铆a de los taxis viajan a velocidades moderadas, pero hay algunos viajes extremadamente r谩pidos o lentos.

Este an谩lisis nos ayuda a entender mejor los patrones de movilidad en la ciudad de Nueva York.